header ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0 20px 0 0;
    margin: 5px 10px 0 0;
}

#timer {
    list-style-type: none;
    background-color: lightblue;
}

#quizContainer {
    text-align: center;
    margin: 100px;
    padding: 100px;
    border: 10px solid lightblue;
}

#quizContainer li {
    list-style-type: decimal;
    list-style-position: inside;
    text-align: left;
    line-height: 1.2em;
    background-color: lightblue;
}

#quizContainer li:not(:first-of-type) {
    margin-top: 1.0em;
}